.menuButton{
    -fx-pref-width: 124 !important;
    -fx-pref-height:78 !important;
}

.menuButton:hover{  
    -fx-background-color: #76b58b !important;

}
.button{
    -fx-background-color:#9FD9AD;
    -fx-background-radius: 5;
    -fx-fontsize: 12;
    -fx-text-fill: white;
    -fx-pref-width: 140;
    -fx-pref-height: 44;
    -fx-cursor: hand;
}

.button:hover{
    -fx-background-color:#76b58b !important;
}
.button:pressed{
    -fx-font-weight: bold;
    -fx-background-color: #76b58b;
}

.smallbutton{
    -fx-background-color:#9FD9AD;
    -fx-background-radius: 5;
    -fx-fontsize: 12;
    -fx-text-fill: white;
    -fx-pref-width: 142;
    -fx-pref-height: 32;
}
.smallbutton:hover{
    -fx-font-weight: bold;
    -fx-background-color:#76b58b !important;
}
