.menuButton{
    -fx-pref-width: 124 !important;
    -fx-pref-height:78 !important;
}

.menuButton:hover{  
    -fx-background-color: #76b58b !important;

}
.button{
    -fx-background-color:#9FD9AD;
    -fx-background-radius: 5;
    -fx-fontsize: 12;
    -fx-text-fill: white;
    -fx-pref-width: 140;
    -fx-pref-height: 44;
    -fx-cursor: hand;
}

.button:hover{
    -fx-background-color:#76b58b !important;
}
.button:pressed{
    -fx-font-weight: bold;
    -fx-background-color: #76b58b;
}

.smallbutton{
    -fx-background-color:#9FD9AD;
    -fx-background-radius: 5;
    -fx-fontsize: 12;
    -fx-text-fill: white;
    -fx-pref-width: 142;
    -fx-pref-height: 32;
}
.smallbutton:hover{
    -fx-font-weight: bold;
    -fx-background-color:#76b58b !important;
}
.centeredTextArea .scroll-pane .content .text {
    -fx-text-alignment: center;
}

.TableView{
    -fx-pref-width: 654;
    -fx-pref-height: 290;
    -fx-alignment: center;
}

.topAnchorPane{
    -fx-pref-height: 100;
    
}

.bottomAnchorPane{
    -fx-pref-height: 94;
    
}

.TableViewIdColumn{
    -fx-pref-width:56;
}

.pageHeading{
    -fx-Layout-X: 53;
    -fx-layout-Y: 80;
    -fx-font-size: 36;
}